*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

.idea/


.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

gradle/wrapper/gradle-wrapper.properties
.idea/modules.xml
.idea/vcs.xml
app/proguard-rules.pro
app/src/androidTest/java/com/vlad_kv/homework3/ExampleInstrumentedTest.java
app/src/test/java/com/vlad_kv/homework3/ExampleUnitTest.java
gradle.properties
